



<body>
  

<footer>
  <p>© 2025 MyBrand | Connect with us</p>
  <div>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>


</body>
